body {
    margin: 0;
    padding: 0;
    font-family: sans-serif, serif;
}

section {
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 67.83px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.title h2 {
    margin-top: -40px;
    margin-left: 100px;
}

ul {
    float: right;
}

.links {
    display: flex;
    list-style: none;
    margin-right: 45px;
}

.links li {
    margin-left: 35px;
}

.links li a {
    text-decoration: none;
    transition: 0.3s ease color;
}

.title-main {
    text-align: center;
    margin: 60px 0;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    padding: 8px 20px;
    border-radius: 8px;
    margin-right: 20px;
    float: right;
}

#logo {
    width: 60px;
    height: 56px;
    object-fit: contain;
}

@media (max-width: 1010px) {
    .mobile-row .col-4 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }

    .mobile-row .col-8 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }

    .col-3, .col-4, .col-5, .col-6 {
        display: block;
        margin: auto;
        width: 60%;
    }

    .links {
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 50px;
        right: -45px;
        border-bottom-left-radius: 8px;
        padding: 15px;
        z-index: 1;
        width: 35%;
        font-size: 18px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
    }

    .links.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .hamburger {
        display: block;
    }

    .hamburger p {
        margin: 10px 0;
    }
}

@media (max-width: 810px) {
    .col-3, .col-4, .col-5, .col-6 {
        display: block;
        margin: auto;
        width: 86%;
    }

    .enroll ul.ul-list {
        display: block;
        margin: auto;
        margin-top: 50px;
        width: 200px;
    }

    ul.ul-list .list {
        line-height: 2.2;
        font-size: 18px;
        width: 400px;
    }
}

.main-section {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-wallpaper {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 98vh;
    align-items: center;
    position: relative;
    padding-bottom: 80px;
    padding: 20px;
}

.header-text {
    font-size: 2rem;
    font-family: "Changa", sans-serif;
    text-align: center;
    align-items: center;
    margin-top: -250px;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay: 0.3s;
}

.main-wallpaper p {
    font-size: 1.2rem;
    font-family: 'MyFont', Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay: 0.6s;
}

.main-wallpaper #tech-text {
    text-align: left;
    margin-right: 90px;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay: 0.9s;
}

.text-admission {
    position: absolute;
    bottom: 220px;
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay: 1.5s;
}

.cta-button {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
}

#apple {
    width: 70px;
    height: auto;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay: 1.2s;
}

#google {
    width: 100px;
    height: auto;
    margin-bottom: -18px;
    margin-left: 40px;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay: 1.2s;
}

#microsoft {
    width: 150px;
    height: auto;
    margin-left: 40px;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay: 1.2s;
}

#spotify {
    width: 100px;
    height: auto;
    margin-bottom: 7px;
    margin-left: 40px;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay: 1.2s;
}

#amazon {
    width: 100px;
    height: auto;
    margin-bottom: 7px;
    margin-left: 40px;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay: 1.2s;
}

.instructors {
    padding: 700px;
    margin: 0;
    text-align: center;
    align-items: center;
    position: relative;
}

.instructors h2 {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.instructors p {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'MyFont', Arial, Helvetica, sans-serif;
}

.instructor-1 {
    position: absolute;
    top: 130px;
    width: 1300px;
    height: 305.75px;
    right: 120px;
    text-align: center;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
}

.instructor-1:hover,
.instructor-2:hover,
.instructor-3:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

#instructor1_image {
    width: 300px;
    height: 305.75px;
    float: left;
    margin-right: 1000px;
}

#instructor1-name {
    position: absolute;
    top: -10px;
    right: 450px;
}

#instructor1-degree {
    font-size: 1.2rem;
    margin-top: 50px;
    margin-left: 120px;
}

#instructor1-description {
    font-size: 1.2rem;
    margin-top: 40px;
    margin-right: 400px;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: left;
    line-height: 1.5;
    padding-left: 320px;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 320px);
}

.instructor-2 {
    position: absolute;
    bottom: 20px;
    width: 1300px;
    height: 305.85px;
    top: 550px;
    right: 120px;
    box-shadow: 0 4px 10px rgba(50, 50, 50, 0.7);
}

#instructor2_image {
    width: 300px;
    height: 305.85px;
    margin-right: 1000px;
}

#instructor2-name {
    margin-top: -290px;
    margin-left: 250px;
}

#instructor2-degree {
    font-size: 1.2rem;
    margin-top: 50px;
    margin-left: 120px;
}

#instructor2-description {
    font-size: 1.2rem;
    margin-top: 40px;
    margin-right: 400px;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: left;
    line-height: 1.5;
    padding-left: 320px;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 320px);
}

.instructor-3 {
    position: absolute;
    bottom: 20px;
    width: 1300px;
    height: 305.75px;
    top: 970px;
    right: 120px;
}

#instructor3_image {
    width: 300px;
    height: 305.75px;
    margin-right: 1000px;
}

#instructor3-name {
    margin-top: -290px;
    margin-left: 250px;
}

#instructor3-degree {
    font-size: 1.2rem;
    margin-top: 50px;
    margin-left: 120px;
}

#instructor3-description {
    font-size: 1.2rem;
    margin-top: 40px;
    margin-right: 400px;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: left;
    line-height: 1.5;
    padding-left: 320px;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 320px);
}

.instructors,
.instructor-1,
.instructor-2,
.instructor-3 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.projects-main h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5px;
}

.projects-main p {
    text-align: center;
    margin-bottom: 50px;
}

.projects {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 300px;
    position: relative;
}

.calculator-project {
    position: absolute;
    width: 400px;
    height: 500px;
    top: 20px;
    left: 60px;
    text-align: center;
    border-radius: 20px;
}

.todo-list-project {
    position: absolute;
    width: 400px;
    height: 500px;
    top: 20px;
    left: 555px;
    text-align: center;
    border-radius: 20px;
}

.weather-project {
    position: absolute;
    width: 400px;
    height: 500px;
    top: 20px;
    left: 1050px;
    text-align: center;
    border-radius: 20px;
}

.calculator-project iframe,
.todo-list-project iframe,
.weather-project iframe {
    width: 80%;
    height: 220px;
    margin-top: 70px;
    margin-bottom: 50px;
    border-radius: 8px;
    border: none;
}

.flexible-learning {
    padding: 600px;
    margin: 0;
    text-align: center;
    align-items: center;
    position: relative;
}

.flexible-title h2 {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.flexible-title p {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

.flexible-content {
    text-align: left;
}

.flexible-options {
    position: absolute;
    top: 240px;
    right: 100px;
    list-style-position: inside;
    list-style: none;
}

.flexible-options li {
    font-size: 1.2rem;
    margin-bottom: 200px;
    margin-top: -100px;
    margin-right: -50px;
}

.flexible-options #mobile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 100px;
    min-height: 70px;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: left center;
}

.flexible-options #download {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 100px;
    min-height: 85px;
    background-repeat: no-repeat;
    background-size: 85px 85px;
    background-position: left center;
}

.flexible-options #support {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 100px;
    min-height: 70px;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: left center;
}

.flexible-content #quote {
    position: absolute;
    bottom: 500px;
    right: 50px;
}

#flexible-image {
    width: 700px;
    height: auto;
    position: absolute;
    top: 150px;
    left: 100px;
    border-radius: 20px;
}

.projects-main,
.projects,
.calculator-project,
.todo-list-project,
.weather-project,
.flexible-learning,
.flexible-title h2,
.flexible-title p,
.flexible-options li,
#flexible-image,
#quote,
.form-div,
.form-div h3,
.form-div h4,
.form-div input,
.form-div #submit-input {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.form-div {
    position: absolute;
    bottom: 40px;
    left: 550px;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    width: 400px;
    min-height: 60px;
    padding: 20px;
    margin: 40px 0;
}

.form-div h4 {
    text-align: left;
}

.form-div input {
    margin-right: 100px;
    width: 300px;
    min-height: 30px;
    border-radius: 7px;
}

.form-div #submit-input {
    display: block;
    margin: auto;
    padding: 9px 9px;
    width: 70px;
    height: 40px;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.3s ease background-color;
    margin-top: 25px;
}

footer {
    text-align: center;
    font-size: 15px;
}

a {
    text-decoration: none;
}