body {
    background-color: #2d3436;
    color: #f0f0f0;
}

nav {
    background: linear-gradient(45deg, #1a2529, #0a3d62);
}

.navbar-container {
    background: linear-gradient(45deg, #1a2529, #0a3d62);
}

.title h2 {
    color: #f0f0f0;
}

.links li a {
    color: #f0f0f0;
    transition: 0.3s ease color;
}

.links li a.active {
    color: #00aaff;
}

.links li a:hover {
    color: #00aaff;
}

.title-main {
    color: #f0f0f0;
}

.hamburger {
    color: #f0f0f0;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    border: 2px solid black;
}

.hamburger:active,
.hamburger.active {
    background-color: #0a3d62;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1010px) {
    .links {
        background: linear-gradient(45deg, #1a2529, #0a3d62);
    }
}

.profile-section {
    background: #3d4548;
}

.profile-picture {
    box-shadow: 0 4px 10px rgba(50, 50, 50, 0.7);
    transition: box-shadow 0.3s ease;
}

.profile-picture:hover {
    box-shadow: 1px 1px 7px #0D92F4;
}

.profile-name {
    color: #0D92F4;
}

.profile-username {
    color: #333;
}

.course-card {
    background: #eaeaea;
    box-shadow: 0 4px 10px rgba(50, 50, 50, 0.7);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.course-card:hover {
    box-shadow: 1px 1px 7px #0D92F4;
}

.course-card h3 {
    color: #0D92F4;
}

.course-card p {
    color: #333;
}

a {
    color: #00aaff;
}