body {
    background-color: #2d3436;
    color: #f0f0f0;
}

nav {
    background: linear-gradient(45deg, #1a2529, #0a3d62);
}

.navbar-container {
    background: linear-gradient(45deg, #1a2529, #0a3d62);
}

.title h2 {
    color: #f0f0f0;
}

.links li a {
    color: #f0f0f0;
    transition: 0.3s ease color;
}

.links li a.active {
    color: #00aaff;
}

.links li a:hover {
    color: #00aaff;
}

.title-main {
    color: #f0f0f0;
}

.hamburger {
    color: #f0f0f0;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    border: 2px solid #4a5b63;
}

.hamburger:active,
.hamburger.active {
    background-color: #0a5d9c;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

@media (max-width: 1010px) {
    .links {
        background: linear-gradient(45deg, #1a2529, #0a3d62);
    }

    ul.ul-list .list {
        color: #b0b0b0;
    }
}

.profile-section {
    background: #3d4548;
}

.profile-picture {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}

.profile-picture:hover {
    box-shadow: 1px 1px 7px #00aaff;
}

.profile-name {
    color: #00aaff;
}

.profile-username {
    color: #b0b0b0;
}

th, td {
    border: 1px solid #4a5b63;
    color: #f0f0f0;
}

th {
    background-color: #0a3d62;
}

h2 {
    color: #f0f0f0;
}

a {
    color: #00aaff;
}