body {
    margin: 0;
    line-height: 1;
    font-family: sans-serif, serif;
    overflow-x: hidden;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

nav {
    background: linear-gradient(45deg, #4CC9FE, #0D92F4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 67.83px;
}

.navbar-container {
    background: linear-gradient(45deg, #4CC9FE, #0D92F4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#logo {
    width: 60px;
    height: 56px;
    object-fit: contain;
    margin-top:2px;
}
.title h2 {
    margin-top:-40px;
    margin-left: 100px;
}

nav ul {
    float: right;
}

.links {
    display: flex;
    list-style: none;
    margin-right: 45px;
}

.links li {
    margin-left: 35px;
    margin-top: 12px;
}
.links li a.active {
    color: blue;
     
}
.links li a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease color;
}

.links li a:hover {
    color: blue;
}

.title-main {
    text-align: center;
    margin: 60px 0;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    padding: 8px 20px;
    border: 2px solid black;
    border-radius: 8px;
    margin-right: 20px;
    float: right;
}

.hamburger:active,
.hamburger.active {
    background-color: #0A7FD1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1010px) {
    .mobile-row .col-4 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }

    .mobile-row .col-8 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }

    .col-3, .col-4, .col-5, .col-6 {
        display: block;
        margin: auto;
        width: 60%;
    }

    .links {
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 50px;
        right: -45px;
        border-bottom-left-radius: 8px;
        background: linear-gradient(45deg, #4CC9FE, #0D92F4);
        padding: 15px;
        z-index: 1;
        width: 35%;
        font-size: 18px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
    }

    .links.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .hamburger {
        display: block;
    }

    .hamburger p {
        margin: 10px 0;
    }
}

/* WALLPAPER */

.main-section {
    min-height: 100vh;
}

.canvas-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.canvas-text div {
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards; 
}

.canvas-text div h2 {
    font-size: 40px;
    line-height: 1.5;
}

/* ABOUT US */

.why-algoverse p {
    font-size: 21px;
    font-family: 'MyFont', Arial, Helvetica, sans-serif;
}
.why-algoverse h4 {
    font-family: "Cinzel", serif;
    font-size: 27px;
}

.why-algoverse ul li {
    font-size: 21px;
    font-family: 'MyFont', Arial, Helvetica, sans-serif;
    line-height: 1.45;
}

.why-algoverse ul li ul {
    margin-left: 40px;
}

.why-algoverse ul li ol {
    margin-left: 40px;
}

.why-algoverse {
    padding: 0 60px 60px 60px;
}

/* EASY LEARNING */

.easy-learning {
    background-color: #FFF1DB;
    padding-bottom: 80px;
}

.easy-learning iframe {
    max-width: 500px;
    box-shadow: 1px 1px 7px;
    transition: 0.3s ease box-shadow;
    border-radius: 10px;
}

.easy-learning p {
    font-size: 21px;
    font-family: 'MyFont', Arial, Helvetica, sans-serif;
    line-height: 1.45;
    text-align: justify;
}

.easy-learning iframe:hover {
    box-shadow: 1px 1px 7px #0D92F4;
}

/* DEMOGRAPHICS */

.demographics {
    padding-bottom: 80px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: 'MyFont', Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 7px;
    transition: 0.3s ease box-shadow;
}

thead tr {
    background-color: #4CC9FE;
    color: white;
    transition: 0.3s ease background-color;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 2px solid black;
}

tbody tr:nth-child(odd) {
    background-color: #FDFAD9;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    transition: 0.3s ease background-color;
}

tbody tr:hover {
    background-color: #C5D3E8;
}

th {
    font-size: 18px;
    font-weight: bold;
}

td {
    font-size: 16px;
}

table th:nth-child(5),
table td:nth-child(5) {
    width: 150px;
}

.admin-actions {
    margin-left: 8%;
}

.table-button-create {
    padding: 10px 30px;
    font-size: 15px;
    font-family: 'MyFont', Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: #0d92f4;
    transition: 0.3s ease background-color;
    margin-left: 30px;
}

.table-button-create:hover {
    cursor: pointer;
    background-color: #0b7cd1;
}

.table-button {
    font-size: 15px;
    padding: 10px;
    font-family: 'MyFont', Arial, Helvetica, sans-serif;
    border-radius: 50%;
    background-color: #0d92f4;
    transition: 0.3s ease background-color;
    margin: 0 5px;
}

.table-button img {
    width: 25px;
    height: 25px;
}

/* FOOTER */

footer {
    background: linear-gradient(45deg, #4CC9FE, #0D92F4);
    text-align: center;
    font-size: 15px;
}

.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
    z-index: 1;
}

.reveal-left {
    position: relative;
    transform: translateX(-50px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal-left.active {
    transform: translateX(0px);
    opacity: 1;
    z-index: 1;
}

.reveal-right {
    position: relative;
    transform: translateX(50px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal-right.active {
    transform: translateX(0px);
    opacity: 1;
    z-index: 1;
}

@font-face {
    font-family: 'MyFont';
    src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf); 
}

@font-face {
    font-family: 'MyFontItalic';
    src: url(../fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf); 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}