body {
    line-height: 1;
}

nav {
    background: linear-gradient(45deg, #4CC9FE, #0D92F4);
}

.navbar-container {
    background: linear-gradient(45deg, #4CC9FE, #0D92F4);
}

.links li a {
    color: black;
}

.links li a:hover {
    color: blue;
}

.links li a.active {
    color: blue;
}

.hamburger {
    color: #fff;
    border: 2px solid black;
}

.hamburger:active,
.hamburger.active {
    background-color: #0A7FD1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1010px) {
    .links {
        background: linear-gradient(45deg, #4CC9FE, #0D92F4);
    }
}

.wall-text {
    border-right: 3px solid darkblue;
    box-shadow: 1px 1px 5px;
}

.wall-text h1 {
    color: whitesmoke;
}

.wall-button p {
    color: #0D92F4;
}

.wall-button a {
    color: darkblue;
    border: 2px solid black;
    background-color: #0D92F4;
}

.wall-button a:hover {
    background-color: #4CC9FE;
}

.why-join-us {
    background-color: #FFF1DB;
}

.join-img {
    box-shadow: 1px 1px 7px;
}

.enroll img {
    box-shadow: 1px 1px 7px;
}

.pricing-plans {
    background-color: #FFF1DB;
}

thead tr {
    background-color: #4CC9FE;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #FDFAD9;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #C5D3E8;
}

.table-button-create {
    background-color: #0d92f4;
}

.table-button-create:hover {
    background-color: #0b7cd1;
}

.table-button {
    background-color: #0d92f4;
}

.payment-col button {
    color: darkblue;
    border: 2px solid black;
    background-color: #0D92F4;
}

.payment-col button:hover {
    background-color: #4CC9FE;
}

.reviews {
    background-color: #FFF1DB;
}

.rating span {
    color: gold;
}

.rating span.hover {
    color: darkgoldenrod;
}

.rating span.selected {
    color: gold;
}

.rating span.half::before {
    color: gold;
}

.rating span.half {
    color: #ccc;
}

.rating span.hover,
.rating span.selected:hover {
    color: darkgoldenrod;
}

.rating span.half:hover::before {
    color: darkgoldenrod;
}

.rating span.fifth-star {
    color: #ccc;
}

.rating span.fifth-star:hover {
    color: darkgoldenrod;
}

.clickable-rating span {
    color: lightgray;
}

.clickable-rating span:hover,
.clickable-rating span.hover {
    color: darkgoldenrod;
}

.clickable-rating span.selected {
    color: gold;
}

.clickable-rating span.locked {
    color: gray;
}

.review-img {
    box-shadow: 1px 1px 7px;
}

.review-div {
    box-shadow: 1px 1px 7px;
}

.form-div {
    box-shadow: 1px 1px 7px;
}

.form-div input {
    border: 2px solid black;
}

.form-div input:focus {
    border: 2px solid red;
}

.form-div textarea {
    border: 2px solid black;
}

.form-div textarea:focus {
    border: 2px solid red;
}

.form-div button {
    color: darkblue;
    border: 2px solid black;
    background-color: #0D92F4;
}

.form-div button:hover {
    background-color: #4CC9FE;
}

dt:hover {
    color: #007BFF;
}

footer {
    background: linear-gradient(45deg, #4CC9FE, #0D92F4);
}