body {
    line-height: 1;
}

nav {
    background: linear-gradient(45deg, #4CC9FE, #0D92F4);
}

.navbar-container {
    background: linear-gradient(45deg, #4CC9FE, #0D92F4);
}

.links li a {
    color: black;
}

.links li a:hover {
    color: blue;
}

.links li a.active {
    color: blue;
}

.hamburger {
    color: #fff;
    border: 2px solid black;
}

.hamburger:active,
.hamburger.active {
    background-color: #0A7FD1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1010px) {
    .links {
        background: linear-gradient(45deg, #4CC9FE, #0D92F4);
    }
}

#google-map {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#google-map:hover {
    border: 1px solid #00bcd4;
    box-shadow: 0 0 10px #00bcd4;
}

.contact {
    background-color: #FFF1DB;
}

.contact .content h2 {
    color: #333;
}

.contact .content p {
    color: #666;
}

.container .contactInfo .box .icon {
    background: #fff;
    box-shadow: 1px 1px 7px;
}

.container .contactInfo .box .icon:hover {
    box-shadow: 1px 1px 7px #0D92F4;
}

.container .contactInfo .box .text {
    color: #333;
}

.container .contactInfo .box .text h3 {
    color: #00bcd4;
}

.contactForm {
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 7px;
}

.contactForm:hover {
    box-shadow: 1px 1px 7px #0D92F4;
}

.contactForm h2 {
    color: #333;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    border-bottom: 2px solid #333;
}

.contactForm .inputBox span {
    color: #666;
}

.contactForm .inputBox label {
    color: #666;
}

.contactForm .gender-group label {
    color: #666;
}

.contactForm .inputBox input[type="submit"] {
    background: #00bcd4;
    color: #fff;
}

.contactForm .inputBox input[type="submit"]:hover {
    background: #008c9e;
}

.error-message {
    color: red;
}

footer {
    background: linear-gradient(45deg, #4CC9FE, #0D92F4);
}