body {
    line-height: 1;
}

nav {
    background: linear-gradient(45deg, #4CC9FE, #0D92F4);
}

.navbar-container {
    background: linear-gradient(45deg, #4CC9FE, #0D92F4);
}

.links li a {
    color: black;
}

.links li a:hover {
    color: blue;
}

.links li a.active {
    color: blue;
}

.hamburger {
    color: #fff;
    border: 2px solid black;
}

.hamburger:active,
.hamburger.active {
    background-color: #0A7FD1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

nav .title h2 {
    color: black;
}

@media (max-width: 1010px) {
    .links {
        background: linear-gradient(45deg, #4CC9FE, #0D92F4);
    }
}

h2 {
    color: #333;
}

.courses {
    background-color: #FFF1DB;
}

.col {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.col:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.col-other {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.col-other:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card h3 {
    color: #333;
}

.card p {
    color: #666;
}

footer {
    background: linear-gradient(45deg, #4CC9FE, #0D92F4);
}

#applyButton {
    background-color: #0d92f4;
    color: white;
}

#applyButton:hover {
    background-color: #0950b7;
}

.apply-modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.apply-modal-content {
    background-color: #fff;
}

.apply-modal-content button {
    background-color: #0d92f4;
    color: white;
}

.apply-modal-content button:hover {
    background-color: #0950b7;
}

.apply-modal-content input,
.apply-modal-content select {
    border: 1px solid #ccc;
}

.drag-drop-area {
    border: 2px dashed #0D92F4;
    background-color: #f9f9f9;
}

.drag-drop-area:hover {
    background-color: #e0f7ff;
}

.close-btn {
    color: #333;
}

.close-btn:hover {
    color: #0d92f4;
}