.create-section {
    background-color: #FFF1DB;
}

.form-div {
    background-color: #FFE0B8;
    box-shadow: 1px 1px 7px;
}

.form-div .inner-form select {
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10'%3E%3Cpolygon points='0,0 12,0 6,10' fill='%23999'/%3E%3C/svg%3E");
}

.form-div .inner-form input {
    border-bottom: 2px solid #27548A;
    background-color: transparent;
}

.form-div .inner-form textarea {
    border-bottom: 2px solid #27548A;
    background-color: transparent;
}

.form-div .inner-form input:focus {
    border-bottom: 2px solid #27548A;
}

.form-div .inner-form textarea:focus {
    border-bottom: 2px solid #27548A;
}

.form-div .inner-form .create-button-div button {
    background-color: #0d92f4;
}

.form-div .inner-form .create-button-div button:hover {
    background-color: #0b7cd1;
}