body {
    line-height: 1;
}

nav {
    background: linear-gradient(45deg, #4CC9FE, #0D92F4);
}

.navbar-container {
    background: linear-gradient(45deg, #4CC9FE, #0D92F4);
}

.links li a {
    color: black;
}

.links li a:hover {
    color: blue;
}

.links li a.active {
    color: blue;
}

.hamburger {
    color: #fff;
    border: 2px solid black;
}

.hamburger:active,
.hamburger.active {
    background-color: #0A7FD1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1010px) {
    .links {
        background: linear-gradient(45deg, #4CC9FE, #0D92F4);
    }
}

.header-text {
    color: #ffFFFF;
}

.main-wallpaper p {
    color: #fff;
}

.cta-button {
    background-color: #00B5E2;
    color: white;
}

.cta-button:hover {
    background-color: #00FFFF;
}

.instructors {
    background: #FFF1DB;
}

.instructor-1 {
    background: #E4C89C;
    box-shadow: 0 4px 10px rgba(50, 50, 50, 0.7);
}

.instructor-1:hover,
.instructor-2:hover,
.instructor-3:hover {
    box-shadow: 1px 1px 7px #0D92F4;
}

.instructor-2 {
    background: #E4C89C;
    box-shadow: 0 4px 10px rgba(50, 50, 50, 0.7);
}

.instructor-3 {
    background: #E4C89C;
    box-shadow: 0 4px 10px rgba(50, 50, 50, 0.7);
}

.calculator-project {
    background: #eaeaea;
    box-shadow: 0 4px 10px rgba(50, 50, 50, 0.7);
}

.calculator-project:hover {
    box-shadow: 1px 1px 7px #0D92F4;
}

.todo-list-project {
    background: #eaeaea;
    box-shadow: 0 4px 10px rgba(50, 50, 50, 0.7);
}

.todo-list-project:hover {
    box-shadow: 1px 1px 7px #0D92F4;
}

.weather-project {
    background: #eaeaea;
    box-shadow: 0 4px 10px rgba(50, 50, 50, 0.7);
}

.weather-project:hover {
    box-shadow: 1px 1px 7px #0D92F4;
}

.calculator-project iframe,
.todo-list-project iframe,
.weather-project iframe {
    box-shadow: 0 4px 10px rgba(50, 50, 50, 0.7);
}

.flexible-learning {
    background: #FFF1DB;
}

.flexible-options li:hover {
    color: #0D92F4;
}

#flexible-image {
    box-shadow: 0 4px 10px rgba(50, 50, 50, 0.7);
}

#flexible-image:hover {
    box-shadow: 1px 1px 7px #0D92F4;
}

.form-div {
    box-shadow: 1px 1px 7px;
}

.form-div:hover {
    box-shadow: 1px 1px 7px #0D92F4;
}

.form-div input {
    border: 2px solid black;
}

.form-div input:focus {
    outline: 2px solid blue;
}

.form-div textarea:focus {
    border: 2px solid red;
}

.form-div #submit-input {
    color: darkblue;
    border: 2px solid black;
    background-color: #0D92F4;
}

.form-div #submit-input:hover {
    background-color: #4CC9FE;
}

footer {
    background: linear-gradient(45deg, #4CC9FE, #0D92F4);
}