.log-in-section {
    background-color: #FFF1DB;
}

.form-div {
    background-color: #FFE0B8;
    box-shadow: 1px 1px 7px;
}

.form-div .inner-form input {
    border-bottom: 2px solid #27548A;
    background-color: transparent;
}

.form-div .inner-form input:focus {
    border-bottom: 2px solid #27548A;
}

.form-div .inner-form .log-in-button-div a {
    color: #0b7cd1;
}

.form-div .inner-form .log-in-button-div button {
    background-color: #0d92f4;
}

.form-div .inner-form .log-in-button-div button:hover {
    background-color: #0b7cd1;
}