nav {
    background: linear-gradient(45deg, #4CC9FE, #0D92F4);
}

.navbar-container {
    background: linear-gradient(45deg, #4CC9FE, #0D92F4);
}

.links li a {
    color: black;
}

.links li a:hover {
    color: blue;
}

.links li a.active {
    color: blue;
}

.hamburger {
    color: #fff;
    border: 2px solid black;
}

.hamburger:active,
.hamburger.active {
    background-color: #0A7FD1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1010px) {
    .links {
        background: linear-gradient(45deg, #4CC9FE, #0D92F4);
    }
}

.profile-section {
    background: #FFF1DB;
}

.profile-picture {
    box-shadow: 0 4px 10px rgba(50, 50, 50, 0.7);
}

.profile-picture:hover {
    box-shadow: 1px 1px 7px #0D92F4;
}

.profile-name {
    color: #0D92F4;
}

.profile-username {
    color: #333;
}

.course-card {
    background: #eaeaea;
    box-shadow: 0 4px 10px rgba(50, 50, 50, 0.7);
}

.course-card:hover {
    box-shadow: 1px 1px 7px #0D92F4;
}

.course-card h3 {
    color: #0D92F4;
}

.course-card p {
    color: #333;
}